[user]
	name = Evan Cummings
	email = emcummings@gmail.com
[alias]
	co = checkout
	st = status
	nuke = !reset --hard && clean -fx
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	update = !git pull --rebase --prune $@ && git submodule update --init --recursive
	bclean = "!f() { git checkout ${1-master} && git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
	cleanbranches = "!f() { git checkout ${1-master} && git update && git bclean ${1-master}; }; f"
[core]
	autocrlf = true
	safecrlf = false
[merge]
	tool = kdiff3
